// Use this file as a starting point for your project's .eslintrc.
{
  "extends": "airbnb/base",

  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },

  "rules": {
    // add rule overrides as needed
    "comma-dangle": 0,
    "prefer-const": 1, // We want to allow using 'let' for arrays
    "prefer-arrow-callback": 1 
  }
}
